rect {
    fill: steelblue;
}

circle {
    fill: palevioletred;
    opacity: 0.3;
}

text {
    font-family: sans-serif;
}

.tick text {
    font-size: 1.5em;
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
}

.xAxis-label {
    font-size: 2.2em;
    font-weight: bold;
    fill: #8E8883;
}

.yAxis-label {
    font-size: 2.2em;
    font-weight: bold;
    fill: #8E8883;
}

.title {
    font-size: 3em;
    font-weight: bold;
    fill: #635F5D;
}

.line-path {
    fill: none;
    stroke: rebeccapurple;
    stroke-width: 4;
    stroke-linejoin: round;
    opacity: 0.5;
}

.area {
    fill: rebeccapurple;
    stroke: rebeccapurple;
    stroke-width: 4;
    stroke-linejoin: round;
    opacity: 0.5;
}